/* body {
} */

/* --font-stack: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; */

/* .flex-container{
  display: grid;
  grid-template-columns: 5fr 1fr;
/*
.col-1 {
  flex-basis: (100 / 6) * 1%;
}

.col-2 {
  flex-basis: (100 / 6) * 2%;
}

.col-3 {
  flex-basis: (100 / 6) * 3%;
}

.col-4 {
  flex-basis: (100 / 6) * 4%;
}

.col-5 {
  flex-basis: (100 / 6) * 5%;
}

.col-6 {
  flex-basis: (100 / 6) * 6%;
} */